<%= stylesheet_link_tag "user" %>

<ul class='cardlist'>

    <li class='card'>
      <div class='photo'>
        <p>Photo</p>
      </div>
      <div class='userinfo'>
        <p> Username, class: 'username' </p>
        <h3 class='recipe-number'>Number of recipes: 6</h3>
      </div>
    </li>

</ul>
