* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: rgb(236, 110, 0);
}

.navbar-brand,
.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 194);
  background-color: rgb(236, 110, 0);
  border: none;
  cursor: pointer;
  font-weight: 900;
}

.nav-item {
  list-style: none;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}
