* {
  margin: 0;
  padding: 0;
}

.recipe-photo {
  height: 200px;
  border-radius: 8px;
}

.head {
  text-align: center;
  font-size: 28px;
  color: rgb(0, 0, 194);
}

.details,
.buttons {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
  margin: 30px 100px;
  line-height: 40px;
  font-size: 24px;
}

.button {
  padding: 6px 10px;
  background-color: rgb(236, 110, 0);
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  border: 1px gray;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px gray;
}

.hr {
  width: 80%;
  margin: 0 auto;
  color: rgb(0, 0, 194);
  margin-bottom: 30px;
}

table {
  margin: 0 auto;
  text-align: center;
}

th,
td {
  border: 1px solid black;
  padding: 6px;
  width: 200px;
}

.back-link {
  border: 1px solid rgb(148, 69, 0);
  background-color: rgb(236, 110, 0);
  box-shadow: 1px 1px 1px gray;
  color: white;
  border-radius: 26px;
  padding: 15px 9px;
  text-decoration: none;
  margin: 20px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 30px;
  margin: 40px auto;
  width: 70%;
}

.recipe-info {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid rgb(0, 0, 194);
  border-radius: 8px;
  width: 90%;
}

.recipe-n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-left: 16px;
}

.remove {
  font-weight: 400;
  color: rgb(0, 0, 194);
}

.recipe-name {
  font-size: 26px;
  text-decoration: none;
  color: rgb(236, 110, 0);
}

.recipe-decision {
  font-size: 16px;
  margin: 20px;
}
