* {
  margin: 0;
  padding: 0;
}

.cardlist {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 30px;
  margin: 40px auto;
  width: 70%;
}

.card {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.userinfo {
  border: 2px solid black;
  width: 100%;
  height: 80%;
  margin: auto 5px;
}

.username {
  padding: 60px;
  padding-bottom: 30px;
  font-size: 40px;
}

.recipe-number {
  text-align: right;
  padding-right: 30px;
  margin-bottom: 20px;
}

.user-photo {
  height: 200px;
  width: 200px;
}

.recipe-amount {
  text-align: end;
  padding: 20px;
  color: rgb(0, 0, 38);
}
